@import "./resest.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{

}
html,body{
    font-family: 'DM Sans', sans-serif;
}
.nav{
    padding: 20px 0px;
    background-color:rgb(34, 38, 90);
    color: aliceblue;
    border-bottom: 1px solid;
}
.conteiner{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 20px auto;
   padding: 15px 0;
    max-width: 1100px;
    flex-wrap: wrap;
}
.about{
    display: flex;
flex-direction: row;
flex-wrap: wrap;
row-gap:20px;
column-gap: 20PX;
padding: 0 20PX;
/*----------------------------------------------------------------------------------------------*/
}
.figma--active{
    position: relative; /* для использования абсолютного позиционирования у дочернего относительно этого блока */
    }
    .figma--active::before {
    content: ""; /* создаём инлайн объект */
    display: block; /* преобразуем его в блочный */
    position: absolute; /* включаем асболютное позиционирование */
    top: 20px; /*отступ будет 0 пикселей от верхней точки блока */
    width: 100%; /* блок займёт по ширине 100% ширины родительского */
    height: 3px; /* высота самого блока */
    background: rgb(86, 155, 138); /* задаём нужный цвет фоном */
    }
    .figma--active::after {
        content: ""; /* создаём инлайн объект */
        display: block; /* преобразуем его в блочный */
        position: absolute; /* включаем асболютное позиционирование */
        top: 20px; /*отступ будет 0 пикселей от верхней точки блока */
        width: 20%; /* блок займёт по ширине 100% ширины родительского */
        height: 3px; /* высота самого блока */
        background: rgb(44, 113, 134)/* задаём нужный цвет фоном */
        }
.header{
    background-image:url(./../img/mark.png);

font-size: 30px;
    color: antiquewhite;
    padding: 40px 0;
    min-height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

   
    text-align: center;
}

    

/******************************************************/
.title {
    display: flex;
    font-size: 40px;
    width: 200px;
    margin: 20px auto;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;

}
.skills{
    height: 695px;
   
    /*color: antiquewhite;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    text-align: center;*/
}
.wrap{
    display: flex;
    width: 1000px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.h1{
    display: flex;
    align-items: center;
}
.square1{
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(34, 38, 90);
    border-radius: 20%;
  
}
.square2{
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(34, 38, 90);
    border-radius: 20%;
 

}

.column{
    
    display: flex;
justify-content:space-around;
   height: 30px;
    font-size: 20px;
margin-bottom: 25px;

color: aliceblue;
padding: 0 20px;
}

.active{
    position: relative;
    height: 30px;
    font-size: 20px;
margin-bottom: 25px;
left :20px;
color: aliceblue;
}
.active::before{
    content: "";
    position: absolute;
    bottom: 0%;
display: block;
height: 2px;
width: 90%;
background-color: rgb(121, 121, 121);
font-size: 15px;
}
.active::after{
    content: "";
    position: absolute;
    bottom: 0%;
display: block;
height: 2px;
width: 90%;
background-color: rgb(175, 15, 15);
font-size: 15px;
}
.i.active::before{
    width: 0%;}
/***********************************************************************************************/
.figma.active::after{
width: 65%;
}
.illustrator.active::after{
    width: 70%;
}
.iu.active::after{
    width: 50%;
}
.i.active::after{
    width: 0%;
}
.html.active::after{
    width:80%;
}
.css.active::after{
    width:70%;
}
.git.active::after{
    width:30%;
}
.jscore.active::after{
    width:40%;
}



/* ---------------------------------------------------------------------------------------------*/

.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background-color:black ;
    color: rgb(255, 255, 255);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}



  
   